.jumbotron {
  padding-top: 6rem;
  background-color: #ffffff;
}


.blue-border {
  border: 5px solid #0F1035;
}


#talents {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}

h1, .lead{
  color: #0F1035;
}
